.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.header .logo {
  font-family: 'Playfair Display', Georgia, serif;
  font-size: 2.5rem;
  padding-left: 1rem;
  align-self: center;
}
